.parrafo{
    background-color: rosybrown;
    padding: 20px;
    width: 75%;
    height: 440px;
    margin: 5px;
    text-align: justify;
    border-radius: 5px;
    box-shadow: 10px 10px 5px black;

}
body {
    background-color: black;
    color: white; /* Para que el texto sea legible */
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.img-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
}
.img-center img {
    box-shadow: 10px 10px 5px #aaa; /* Efecto de relieve */
}